In [12]:
import pandas as pd
import numpy as np

In [13]:
s1 = pd.Series([1, 2, 3, 4, 5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s2 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
ndarr = np.array([1, 2, 3, 4, 5])
type(ndarr)

numpy.ndarray

In [16]:
s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])
print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [17]:
d = {'a':1, 'b':2, 'c':3}
s4 = pd.Series(d)
print(s4)

a    1
b    2
c    3
dtype: int64

In [18]:
a = 7
s5 = pd.Series(a, ['a', 'b', 'c'])
print(s5)

a    7
b    7
c    7
dtype: int64

In [19]:
s6 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s6[2]

3

In [21]:
s6['d']

4

In [22]:
s6[:2]

a    1
b    2
dtype: int64

In [23]:
s6[s6 <= 3]

a    1
b    2
c    3
dtype: int64

In [24]:
s7 = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
s6 + s7

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [25]:
s6 * 3

a     3
b     6
c     9
d    12
e    15
dtype: int64

In [26]:
d = {"price":pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),
...: "count": pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)
print(df1)

    price  count
v1      1     10
v2      2     12
v3      3      7

In [27]:
print(df1.index)

Index(['v1', 'v2', 'v3'], dtype='object')

In [28]:
print(df1.columns)

Index(['price', 'count'], dtype='object')

In [30]:
d2 = {"price":np.array([1, 2, 3]),
...: "count": np.array([10, 12, 7])}
df2 = pd.DataFrame(d2, index=['v1', 'v2', 'v3'])
print(df2)

    price  count
v1      1     10
v2      2     12
v3      3      7

In [31]:
print(df2.index)

Index(['v1', 'v2', 'v3'], dtype='object')

In [32]:
print(df2.columns)

Index(['price', 'count'], dtype='object')

In [33]:
d3 = [{"price": 3, "count":8}, {"price": 4, "count": 11}]
df3 = pd.DataFrame(d3)
print(df3)

   price  count
0      3      8
1      4     11

In [34]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   2 non-null      int64
 1   count   2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes
None

In [35]:
 d = {"price":np.array([1, 2, 3]),
...: "count": np.array([10, 20, 30])}
df = pd.DataFrame(d, index=['a', 'b', 'c'])
print(df)

   price  count
a      1     10
b      2     20
c      3     30

In [36]:
df['count']

a    10
b    20
c    30
Name: count, dtype: int32

In [37]:
df.loc['a']

price     1
count    10
Name: a, dtype: int32

In [38]:
df.iloc[1]

price     2
count    20
Name: b, dtype: int32

In [39]:
 df[0:2]

   price  count
a      1     10
b      2     20

In [40]:
df[df['count'] >= 20]

   price  count
b      2     20
c      3     30