<p>Cоздайте объект Series, связав его с переменной school , и наполните данными, которые бы отражали количество учащихся в разных классах (1а, 1б, 2б, 6а, 7в и т. п.).</p> 
<p>Внесите изменения в объект Series согласно следующему:</p> 
<ol>
    <li>в одном из классов изменилось количество учащихся, 
    <li>в школе появился новый класс, 
    <li>в школе был расформирован (удален) другой класс.
</ol>
<p>Вычислите общее количество учащихся в школе.</p>

In [1]:
import pandas as pd
import numpy as np

In [5]:
school = {'1а':21, '1б':19, '2а':22,'4а':17, '6г':27}
school_ser = pd.Series(school)
school_ser.index.name = 'classes'
print(school_ser)

classes
1а    21
1б    19
2а    22
4а    17
6г    27
dtype: int64

<p><b>1.</b> В класс 2А добавили двух учеников</p>

In [7]:
school_ser['2а'] += 2
print(school_ser)

classes
1а    21
1б    19
2а    24
4а    17
6г    27
dtype: int64

<p><b>2.</b> В школу с помощью магии телепортировали класс 5Э</p>

In [11]:
school_ser = school_ser.append(pd.Series({'5Э':77}))
print(school_ser)

1а    21
1б    19
2а    24
4а    17
6г    27
5Э    77
dtype: int64

<p><b>3.</b> Так, как класс 6Г не признает магию, они аннигилировались путем самодетонирования</p>

In [12]:
del school_ser['6г']
print(school_ser)

1а    21
1б    19
2а    24
4а    17
5Э    77
dtype: int64

Сумма всех учеников школы

In [13]:
print(school_ser.sum())

158